<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>Vote</title>
    </head>
    <body>

        <form id="create_channel" >
            <input type="text" id="name" placeholder="Enter Channel Name">
            <button type="submit">Create</button>
        </form>

        <div id="channels">
            {% for channel in channels %}
                <button class="channel_select" data-name ="{{ channel }}">{{ channel }}</button>
            {% endfor %}
        </div>

        <form id="send_message">
            <input type="text" id="message" name="message" placeholder="New Message">
            <button type="submit">Send</button>
        </form>

        <div id="messages"></div>

    </body>
</html>
