<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>Vote</title>
    </head>
    <body>

        <form id="create_channel" >
            <input type="text" id="channel_name" placeholder="Enter Channel Name">
            <button type="submit" id="submit_channel">Create</button>
        </form>

        <div id="channels"></div>

        <div id="users">
            <p><b>Users Online</b> - click to chat:</p>
        </div>
        <br>

        <form id="send_message">
            <input type="text" id="message" name="message" placeholder="New Message" autofocus autocomplete="off">
            <button type="submit" id="submit_message">Send</button>
        </form>

        <div id="messages"></div>

    </body>
</html>
